// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #3B82F6;     // Azul Frío
$primary-dark: #2563EB; // Un tono más oscuro para hover/active si es necesario
$primary-light: #60A5FA; // Un tono más claro si es necesario
$secondary: #6B7280;   // Gris Neutro
$accent: #10B981;      // Verde Esmeralda

$dark: #1F2937;
$dark-page: #111827; // Un fondo ligeramente diferente para la página

$positive: #10B981;    // Success (Verde Esmeralda)
$negative: #EF4444;    // Danger/Rojo Intenso
$info: #38BDF8;        // Info (Azul Cielo)
$warning: #F59E0B;     // Warning (Ámbar)
