spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:informes_prod}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org:
      springframework:
        security: WARN
        web: WARN
        messaging: WARN
        web.socket: WARN
        mail: WARN
      hibernate:
        SQL: WARN

jwt:
  secret: ${JWT_SECRET}
  header: Authorization
  prefix: Bearer
  expiration-time: 86400000

app:
  security:
    super-admin-registration:
      enabled: false
  frontend:
    url: ${APP_FRONTEND_URL:https://yourapp.com}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tagsSorter: alpha
    operationsSorter: alpha
    docExpansion: none
    filter: true
  api-docs:
    path: /v3/api-docs